# Tugas Akhir Basic Text Processing

Nama: Achmad Jaelani <br>
AI-INFRA

In [1]:
import pandas as pd
import re, string

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from tqdm.auto import tqdm

list_stopwords = stopwords.words("english")

In [2]:
with open("./sentiment labelled sentences/amazon_cells_labelled.csv", "r") as f:
  fsr = f.readlines()

data = []

for text in tqdm(fsr):
  strin = re.findall(r"[^,]+", text)
  s = " ".join(strin)
  s = s[:-4] + "," + s[-3:]
  data.append(s)

with open("data.csv", "w+") as f:
  f.write("".join(data))

  0%|          | 0/1000 [00:00<?, ?it/s]

In [3]:
df = pd.read_csv("./data.csv", header=None)
df.columns = ["text", "class"]
df

                                                  text  class
0    So there is no way for me to plug it in here i...      0
1                          Good case  Excellent value.      1
2                               Great for the jawbone.      1
3    Tied to charger for conversations lasting more...      0
4                                    The mic is great.      1
..                                                 ...    ...
995  The screen does get smudged easily because it ...      0
996  What a piece of junk.. I lose more calls on th...      0
997                       Item Does Not Match Picture.      0
998  The only thing that disappoint me is the infra...      0
999  You can not answer calls with the unit  never ...      0

[1000 rows x 2 columns]

## Case Folding dan Removing number

In [4]:
df["text"] = df["text"].str.lower().str.replace("\d", "", regex=True).str.replace(f"[{string.punctuation}]", "", regex=True)
df

                                                  text  class
0    so there is no way for me to plug it in here i...      0
1                           good case  excellent value      1
2                                great for the jawbone      1
3    tied to charger for conversations lasting more...      0
4                                     the mic is great      1
..                                                 ...    ...
995  the screen does get smudged easily because it ...      0
996  what a piece of junk i lose more calls on this...      0
997                        item does not match picture      0
998  the only thing that disappoint me is the infra...      0
999  you can not answer calls with the unit  never ...      0

[1000 rows x 2 columns]

## Tokenization

In [5]:
tokens = []

for text in tqdm(df.text):
  tokens.append(word_tokenize(text))

df["text"] = tokens
df

  0%|          | 0/1000 [00:00<?, ?it/s]

                                                  text  class
0    [so, there, is, no, way, for, me, to, plug, it...      0
1                       [good, case, excellent, value]      1
2                           [great, for, the, jawbone]      1
3    [tied, to, charger, for, conversations, lastin...      0
4                                [the, mic, is, great]      1
..                                                 ...    ...
995  [the, screen, does, get, smudged, easily, beca...      0
996  [what, a, piece, of, junk, i, lose, more, call...      0
997                  [item, does, not, match, picture]      0
998  [the, only, thing, that, disappoint, me, is, t...      0
999  [you, can, not, answer, calls, with, the, unit...      0

[1000 rows x 2 columns]

## Removing StopWords

In [6]:
df["text"] = df["text"].apply(lambda x: " ".join([word for word in x if word not in (list_stopwords)]))
df

                                                  text  class
0                      way plug us unless go converter      0
1                            good case excellent value      1
2                                        great jawbone      1
3    tied charger conversations lasting minutesmajo...      0
4                                            mic great      1
..                                                 ...    ...
995         screen get smudged easily touches ear face      0
996                        piece junk lose calls phone      0
997                                 item match picture      0
998               thing disappoint infra red port irda      0
999                     answer calls unit never worked      0

[1000 rows x 2 columns]

## Text sudah jauh lebih bersih dan siap di feed ke dalam model Machine Learning